# This file is part of the CFM program
# Copyright (C) 2019 dragon-archer

# Microsoft Visual Studio
.vs/

# Debug libraries
*.pdb
*.ipdb
*.ipch

# Build
build/

# Libraries
*.dll
*.lib

# Object files
*.obj

# Precompiled headers
*.pch

# Executable
*.exe

# Log files
*.log
*.tlog
